<h1>Poker Chips</h1>

<h2>Create new room</h2>

<form action="/rooms" method="POST">
  <div>
    <label>Enter your username</label>
  </div>
  <div>
    <input type="text" name="username">
  </div>
  <input type="submit" value="Create room">
</form>

<script>
  const socket = io();
  const message = "Hey!"
  socket.emit("message", message)
</script>